<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book </a>
    </div>
    <!-- <div class="collapse navbar-collapse"> -->
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
          <!-- Lets try to link to home programatically -->
        </li>
        <!-- <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a (click)="navigateToHome()">Home(p)</a>
        </li> -->
        <li routerLinkActive="active"><a routerLink="/recipe">Recipe</a></li>
        <li routerLinkActive="active">
          <a [routerLink]="['/shopping']">Shopping List</a>
          <!-- the array implementation helps us to construct complex paths easily -->
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="btn btn-primary" *ngIf="!loggedIn" (click)="login()">
            Login
          </button>
          <button class="btn btn-primary" *ngIf="loggedIn" (click)="logout()">
            Logout
          </button>
        </li>
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" id="" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
