<label for="serverName">Server Name</label><br />
<input
  type="text"
  name="serverName"
  id="serverName"
  (input)="onServerNameInput($event)"
/>
<h3>{{ serverName }}</h3>
<input
  type="button"
  [disabled]="!allowNewServe"
  value="Add Server"
  class="btn btn-primary"
  (click)="onServerCreate()"
/>

<p>Allow new server : {{ allowNewServe }}</p>
<p [innerText]="allowNewServe"></p>
<div>
  Server creation status :
  <p class="h4">{{ serverCreationStatus }}</p>
</div>

<app-server></app-server>
