<label for="serverName">Server Name</label><br />
<!-- <input
  type="text"
  name="serverName"
  id="serverName"
  (input)="onServerNameInput($event)"
/> -->
<input type="text" name="serverName" id="serverName" [(ngModel)]="serverName" />

<br /><br />
<input
  type="button"
  [disabled]="!allowNewServe"
  value="Add Server"
  class="btn btn-primary"
  (click)="onServerCreate()"
/>

<p>Allow new server : {{ allowNewServe }}</p>
<p [innerText]="allowNewServe"></p>
<div>
  Server creation status :
  <p class="h3" *ngIf="serverCreationStatus" else noServer>
    Server was created : {{ serverName }}
  </p>
  <ng-template #noServer>
    <p>No server was created!</p>
  </ng-template>
</div>

<app-server *ngFor="let server of servers"></app-server>
