<h1>
  {{ mainTitle }}
</h1>

<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit
      (addButtonClicked)="updateValue($event)"
    ></app-shopping-list-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
        [routerLink]="['/shopping', ingredient.id]"
      >
        {{ ingredient.name }}{{ ingredient.amount > 1 ? "s" : "" }} ({{
          ingredient.amount
        }}) - {{ ingredient.urgency }}
      </a>
    </ul>
  </div>
</div>
